@import "../../style/variables";
header{
  position: sticky;
    top: 0;
    z-index: 1;
}
.headroom-wrapper {
    z-index: 400;
  }  
  #main-content {
    padding: 0 9%;
   // background: $sidebar-color;
  }
  @media only screen and (max-width: 800px) {
    #main-content {
      padding: 0;
      background: none;
      margin: 0;
    }
  }
  